.mat-sidenav-content{
  background-image: url("assets/images/salon-bg.png") !important;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.qd-sidenav {
  .mat-button{
    color: wheat;
  }

  &__container  {
    width: $side-nav-width;
    min-width: $side-nav-width;
    max-width: $side-nav-width;
    margin-top: 56px;
   /* background: $background-gray;*/
    transition: all .05s cubic-bezier(.55, 0, .55, .2),
                width .05s linear,
                min-width .05s linear,
                max-width .05s linear;
    box-shadow: 2px 0 4px rgba($black, .2);
    z-index: $side-nav-z-index;
  }

  &__content {
    height: 100%;
    /*background: $background-light-gray;*/
    background-color: #2f2621 !important;
    overflow: hidden;

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
      border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }

  &__bottom {
   /* background: $background-light-gray;*/

    &--version {
      @extend %type-label-2;
      color: black;
      text-align: center;
      padding-bottom: 5px;
    }
  }

  &__divider  {
    margin: 20px 0;
    padding: 0;
    width: 85%;
    height: 1px;
    background: $divider-gray-1;
  }

  &__drag-divider {
    margin: 15px 0;
    height: 7px;
    border-color: rgba($icon-dark-gray, .5);
    text-align: center;
  }

  &__drag-divider-content {
    background: $background-light-gray;
    margin: -5px auto;
    display: inline-block;
    position: relative;
    top: -11px;
    padding: 0 3px;

    .qd-icon {
      font-size: 16px;
      color: white;
    }

    .qd-sidenav--narrow & {
      display: none;
    }
  }

  &__drag-divider-text {
    @extend %type-label-1;
    color: $icon-dark-gray;
  }

  &__list {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    outline: none;

    &:first-child {
      margin-top: 10px;

      @media (max-width:480px)  {
        margin-top: 6px;
      }
    }

    &--bottom {
      position: absolute;
      bottom: 0;
      border-top: 1px solid $divider-gray-1;
      width: 100%;
    }
  }

  &__list-item,
  &__list-item.md-no-proxy {
    min-height: 50px;
    min-width: 100% !important;
    max-width: 100% !important;
    padding: 0 20px !important;
    margin-bottom: 10px !important;
    border-radius: 0 !important;

    &:last-of-type{
      margin-bottom: 0 !important;
    }

    &:first-of-type {
      margin-bottom: 10px !important;
    }

    &:hover {
      .mat-button-focus-overlay {
        opacity: .6 !important;
      }
    }

    .mat-button-ripple  {
      display: none !important;
    }

    .mat-button-wrapper > * {
      vertical-align: unset !important;
    }

    &--active {
      border-radius: 0;
      background: rgba(158,158,158,0.2);
    }

    &--more {
      .mat-button-wrapper {
        place-content: center space-between;
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }

  &__list-item--sortable {
    .qd-sidenav--editing:not(.qd-sidenav--narrow) & {
      padding: 0;
      margin-left: 20px;
      margin-right: 20px;
      border: 1px dashed $icon-dark-gray;
    }
  }

  &__list-item-icon.qd-icon {
    position: relative;
    font-size: 22px;
    width: 22px;
    height: 22px;
    color: white;
    margin: 0 15px 0 0 !important;
    display: inline-block;

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
    }
  }

  &__list-item .icon-dropdown {
    color: $icon-dark-gray;
    font-size: 24px;
    transition: all .2s ease;

    &--reverse  {
      transform: rotate(-180deg);
    }
  }

  &__list-item-label {
    font: 400 16px 'Akkurat', sans-serif;
    line-height: 50px;
    color: white;
    display: inline-block;
    vertical-align: middle;

    &--heavy {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      color: $green-l;
      margin: 0 auto;
    }

    .qd-sidenav--narrow & {
      display: none;
    }
  }

  &__list-item-badge {
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 15px;
    color: $white;
    background: $orange;
    border-radius: 10px;

    .qd-sidenav--editing .qd-sidenav__list-item--sortable & {
      display: none;
    }

    .qd-sidenav--narrow & {
      right: 25px;
      padding: 5px;

      span {
          display: none;
      }
    }
  }

  &__list-item-handle {
    width: 100%;

    .qd-icon.icon-handle {
      position: absolute;
      top: 8px;
      right: 10px;
      color: $divider-gray-2;
    }
  }

  &__user {
    background: $yellow-l;
    background: linear-gradient(to right, $green-l, $yellow-l);
    height: 75px;
    padding: 20px;
    box-sizing: border-box;

    @include when-wider-than(desktop) {
      display: none;
    }
  }

  &__user-initials {
    font-size: 22px;
    line-height: 35px;
    color: $green-l;
    text-align: center;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    background: $white;
    border-radius: 17px;
    float: left;
  }

  &__user-name {
    font-size: 16px;
    font-weight: 700;
    color: $white;
  }

  &__user-org {
    font-size: 14px;
    color: rgba($white, $text-opacity-primary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &--narrow {
    .qd-sidenav__container  {
      width: $side-nav-width-narrow;
      min-width: $side-nav-width-narrow;
      max-width: $side-nav-width-narrow;
    }

    .mat-drawer-content {
      margin-left: 80px !important;
    }

    .qd-sidenav__list-item {
      place-content: center center !important;

      &-label, .icon-dropdown {
        display: none;
      }

      &--more .mat-button-wrapper {
        place-content: center center !important;
      }

      &-icon.qd-icon  {
        margin-right: 0 !important;
      }
    }

    @include when-less-than(desktop) {
      .qd-sidenav__container  {
        width: $side-nav-width;
        min-width: $side-nav-width;
        max-width: $side-nav-width;
      }

      .mat-drawer-content {
        margin-left: 0 !important;
      }

      .qd-sidenav__list-item {
        place-content: center start !important;

        &-label, .icon-dropdown {
          display: inline;
        }

        &--more .mat-button-wrapper {
          place-content: center start !important;
        }

        &-icon.qd-icon  {
          margin-right: 15px !important;
        }
      }
    }
  }
}

.as-sortable-placeholder {
  border: 1px dashed $divider-gray-2;
  margin: 0 20px 10px;
}

.as-sortable-dragging {
  .qd-sidenav__list-item {
    background: $background-gray;
    border: 1px solid $icon-dark-gray;
  }

  .qd-sidenav__list-item-badge {
    display: none;
  }
}

.mat-sidenav-content  {
  padding-top: 56px;
  background: $background-gray;
}
