<qd-toolbar fxLayout = "row"></qd-toolbar>

<mat-sidenav-container class="qd-sidenav" [ngClass.lg]="{'qd-sidenav--narrow': showNarrow}" fullscreen>
  <mat-sidenav class="qd-sidenav__container" #sidenav
  [mode]="mode$ | async"
  [opened]="opened$ | async"
  (closedStart)="closeSidenav()">
    <div class="qd-sidenav__content" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start">
      <div class="qd-sidenav__list" fxFlex="100">
        <button mat-button fxFlex="100" fxLayoutAlign="start center"
        class="qd-sidenav__list-item"
        [matTooltip]="showNarrow ? 'Home' : ''"
        matTooltipPosition="right"
        matTooltipShowDelay="0"
        matTooltipHideDelay="0"
        routerLink="/"
        [routerLinkActiveOptions]="{exact: true}"
        [routerLinkActive]="['qd-sidenav__list-item--active']">
          <mat-icon class="qd-icon icon-home"></mat-icon>
          <span class="qd-sidenav__list-item-label">Home</span>
        </button>
      </div>

      <div class="qd-sidenav__list" fxFlex="100" fxLayout="row wrap">
        <button mat-button fxFlex="100" fxLayoutAlign="start center"
        class="qd-sidenav__list-item"
        [matTooltip]="showNarrow ? item.label : ''"
        matTooltipPosition="right"
        matTooltipShowDelay="0"
        matTooltipHideDelay="0"
        *ngFor="let item of sidenavItems"
        routerLink="{{ item.route }}"
        [routerLinkActive]="['qd-sidenav__list-item--active']">
          <mat-icon class="qd-icon {{ item.icon }}"></mat-icon>
          <span class="qd-sidenav__list-item-label">{{ item.label }}</span>
        </button>
      </div>

      <div class="qd-sidenav__divider"></div>

      <div class="qd-sidenav__list" fxFlex="100" fxLayout="row wrap">
        <button mat-button fxFlex="100" fxLayoutAlign="space-between center"
        class="qd-sidenav__list-item qd-sidenav__list-item--more"
        [matTooltip]="showNarrow ? 'More' : ''"
        matTooltipPosition="right"
        matTooltipShowDelay="0"
        matTooltipHideDelay="0"
        (click)="showMore = !showMore">
          <span>
            <mat-icon class="qd-icon icon-morehoriz"></mat-icon>
            <span class="qd-sidenav__list-item-label" *ngIf="!showMore">More</span>
            <span class="qd-sidenav__list-item-label" *ngIf="showMore">Less</span>
          </span>

          <mat-icon class="qd-icon icon-dropdown" [ngClass]="{'icon-dropdown--reverse': showMore}"></mat-icon>
        </button>

        <div fxFlex="100" *ngIf="showMore" fxLayout="row wrap">
          <button mat-button fxFlex="100" fxLayoutAlign="start center"
          class="qd-sidenav__list-item"
          [matTooltip]="showNarrow ? 'Specimen Pickup' : ''"
          matTooltipPosition="right"
          matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          routerLink="/specimen-pickup"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="['qd-sidenav__list-item--active']">
            <mat-icon class="qd-icon icon-truck"></mat-icon>
            <span class="qd-sidenav__list-item-label">Specimen Pickup</span>
          </button>

          <button mat-button fxFlex="100" fxLayoutAlign="start center"
          class="qd-sidenav__list-item"
          [matTooltip]="showNarrow ? 'Supplies' : ''"
          matTooltipPosition="right"
          matTooltipShowDelay="0"
          matTooltipHideDelay="0"
          routerLink="/supplies"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="['qd-sidenav__list-item--active']">
            <mat-icon class="qd-icon icon-supplies"></mat-icon>
            <span class="qd-sidenav__list-item-label">Supplies</span>
          </button>
        </div>
      </div>

      <div class="qd-sidenav__list qd-sidenav__list--bottom" fxFlex="100">
        <button mat-button fxFlex="100" fxLayoutAlign="center center" fxHide.lt-lg
        class="qd-sidenav__list-item qd-sidenav__list-item--narrow"
        (click)="showNarrow = !showNarrow">
          <mat-icon class="qd-icon icon-menuclose" *ngIf="!showNarrow"></mat-icon>
          <mat-icon class="qd-icon icon-menuopen" *ngIf="showNarrow"></mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <router-outlet></router-outlet>

</mat-sidenav-container>

