.qd-top-nav {
  background: url("assets/images/salon-bg.png") !important;
  min-height: $top-nav-height;
  padding: 0 16px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12),
              0px 4px 4px 0px rgba(0,0,0,0.24);
  z-index: $top-nav-z-index;

  .icon-menu {
    font-size: 28px;
    width: 28px;
    height: 28px;
    color: #fff;
    margin-right: 20px;
    position: relative;
    top: -1px;
  }

  .icon-alert {
    &::before {
      font-size: 30px;
    }

    @include when-on(tablet) {
        margin-right: 0;
    }
  }

  .icon-alert,
  .icon-menu,
  .icon-account,
  .icon-search {
    cursor: pointer;
  }

  .qd-button-alert {
    overflow: visible;
    position: relative;
    width: 40px;
    height: 40px;
    background: $green-l;
    padding-top: 6px;
  }

  .qd-badge {
    position: absolute;
    left: 25px;
    top: 15px;
    padding: 0px 6px;
    font-size: 12px;
    color: $white;
    background: $red;
    border-radius: 10px;
    cursor: pointer;
    height: 18px;
    line-height: 18px;
  }
}

.qd-top-nav__logo-wrapper {
  height: 26px;
  width: 28px;
  overflow: hidden;

  @include when-wider-than(tablet) {
    width: 37px;
    height: 35px;
  }

  @include when-wider-than(desktop) {
    width: auto;
  }
}

.qd-top-nav__alert-wrapper {
  position: relative;
  width: 60px;

  .qd-arrow {
    @include when-on(mobile) {
      display: none;
    }
  }
}

.qd-top-nav__logo {
  width: 151px;
  height: 26px;

  @include when-wider-than(tablet) {
    width: 204px;
    height: 35px;
  }
}

.qd-top-nav__search {
  margin: 0 0 0 20px;
  border-radius: 2px;
  height: 40px;
  background: rgba($white, .15);

  @include when-wider-than(desktop) {
    margin: 0 40px 0 80px !important;
  }

  &[disabled] {
    background: rgba($white, .15) !important;
    opacity: .3;
    cursor: default !important;
  }

  &--prefix.mat-icon {
    width: 60px !important;
    font-size: 20px !important;
    line-height: 24px;
    color: $white;
    text-align: center;
  }

  .mat-form-field-label {
    color: $white;
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 1px;
    top: 1.4em;
  }

  .mat-form-field-flex  {
    align-items: center;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
    width: 100%;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    border-top: 0;
  }

  &-container .icon-history {
    margin: 0;
  }

  &--patient-info {
    margin-left: auto;
    text-align: right;

    @include when-less-than(tablet) {
      margin-left: 0;
      text-align: left;
    }

    .qd-patient-card__dob, .qd-patient-card__sex {
      @include when-less-than(tablet) {
        line-height: 0;
      }
    }
  }

  &--hidden-limited{
    visibility: hidden;
  }
}

.qd-dot {
  position: absolute;
  left: 29px;
  top: 17px;
  width: 10px;
  height: 10px;
  background: $red;
  border-radius: 5px;
  cursor: pointer;
}
