<div class="qd-top-nav" fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayoutAlign="start start" fxFlex="10" fxFlex.sm="30" fxFlex.xs="30">
        <button class="margin-right-5" mat-icon-button fxHide.gt-md (click)="toggleSidenav()">
            <mat-icon class="icon-menu"></mat-icon>
        </button>

            <div>
                <span class="text-wheat">The Makeover House</span>
            </div>
    </div>

    <form fxFlex="30" fxFlex.sm="70" fxFlex.xs="70" [formGroup]="formGroup">
        <mat-form-field fxFlex="100" class="qd-top-nav__search" fxLayoutAlign="start center"
                        [floatPlaceholder]="'never'">
            <mat-icon matPrefix class="qd-top-nav__search--prefix icon-search"></mat-icon>
            <input matInput fxFlex="100" placeholder="Search" [matAutocomplete]="qdGlobalSearchAutoComplete"
                   formControlName="qdGlobalSearch">
        </mat-form-field>

        <mat-autocomplete #qdGlobalSearchAutoComplete="matAutocomplete">
            <mat-option [value]="">
                Test
            </mat-option>
        </mat-autocomplete>
    </form>

    <div fxFlex fxLayoutAlign="end center" fxFlex="60" fxHide.xs fxHide.sm>
        <qd-account></qd-account>
    </div>
</div>
