<mat-card class="mat-services-card margin-bottom-20">
    <h1 class="text__center">Enter your information</h1>
</mat-card>

<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper" class="mat-contact-card">
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your name</ng-template>


            <div fxLayout="column" fxFlex="30">
                <mat-form-field>
                    <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="emailCtrl" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Phone Number" formControlName="phoneCtrl" required>
                </mat-form-field>

                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </div>

        </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your address</ng-template>

            <div fxLayout="column" fxFlex="30">
                <mat-form-field>
                    <input matInput placeholder="Address" formControlName="secondCtrl" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="City" formControlName="cityCtrl" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="State" formControlName="stateCtrl" required>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Zip Code" formControlName="zipCtrl" required>
                </mat-form-field>

                <div>
                    <button mat-button matStepperPrevious>Back</button>

                    <button mat-button matStepperNext (click) = "saveUserInfo('imrozkhangre@gmail.com', 'test')">Next</button>
                </div>
            </div>

        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>

            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>
