@import 'assets/icons/quest-icons/quest-icons';
@import 'vendors/vendors';
@import 'utils/utils';
@import 'base/base';

@import 'app/app.component';

router-outlet.qd-router + * {
  display: flex;
  flex: 1 1 auto;
}
