.qd-avatar {

  &__topnav, &__small {
		font-size: 22px;
		width: 30px;
    height: 30px;
    line-height: 26px;
		padding: 3px;
    border-radius: 15px;
    text-align: center;
		cursor: pointer;

		&:hover {
			background: rgba($white,$text-opacity-primary);
		}
	}

	&__sidenav {
		font-size: 22px;
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin-right: 15px;
		border-radius: 17px;
		text-align: center;
		float: left;
	}

	&__accountwidget {
		font-size: 32px;
		width: 56px;
		height: 56px;
		line-height: 56px;
		margin: 20px;
		border-radius: 28px;
		text-align:center;
	}

	&__patient-card {
		font-size: 18px;
		width: 25px;
		min-width: 25px;
		height: 25px;
		border-radius: 50%;
		line-height: 25px;
		margin-right: 15px;
		text-align:center;
		text-transform: uppercase;
	}

	&__patient-profile,
	&__account-settings {
      font-size: 30px;
      font-weight: 100;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      line-height: 60px;
      background-size: cover;
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
      text-align:center;
      text-transform: uppercase;

      @include when-wider-than(tablet) {
          font-size: 40px;
          width: 80px;
          height: 80px;
          line-height: 80px;
      }
	}

	&--green {
		background-color: $green-l;
		color: $white;
	}

	&--white {
		background: $white;
		color: $green-l;
	}
}
