$blue-lab-order: rgba(61, 131, 225, 1);
$blue-icon: #00acea;

$green-l: #35792a;
$green-m: #22672a;
$green-d: #19551f;

$yellow-l: #c4d809;
$yellow-m: #77A32D;
$yellow-d: #b4c700;
$yellow-lab-order: rgba(255, 236, 2, 1);
$yellow-lab-alert: #fff78d;

$orange: #E65100;

$red: #d32f2f;
$red-d: #b71c1c;

$black: #222;
$white: #fff;

$background-light-gray: #f8f8f8;
$background-gray: #ececec;
$divider-gray-1: #d8d8d8;
$divider-gray-2: #a7a8aa;
$darkest-gray: #333;

$icon-gray: $divider-gray-1;
$icon-dark-gray: #63666a;
