.mat-card{
  &__transparent-background{
    background: transparent !important;
  }

  &__no-shadow{
    box-shadow: none !important;
  }

  &__wheat{
    background: wheat !important;
  }

  &__white{
    background: white !important;
  }

  &__brown{
    background: brown !important;
  }

  &__floralwhite{
    background: floralwhite !important;
  }

  &__antiquewhite{
    background: antiquewhite !important;
  }
}

.text-wheat{
  color: wheat;
}

.text{
  &__center{
    text-align: center;
  }
}