.margin  {
  &-0   { margin: 0 !important; }
  &-5   { margin: 5px !important; }
  &-10  { margin: 10px !important; }
  &-15  { margin: 15px !important; }
  &-20  { margin: 20px !important; }
  &-25  { margin: 25px !important; }
  &--auto { margin: auto !important; }

  &-top-0   { margin-top: 0 !important; }
  &-top-5   { margin-top: 5px !important; }
  &-top-10  { margin-top: 10px !important; }
  &-top-15  { margin-top: 15px !important; }
  &-top-20  { margin-top: 20px !important; }
  &-top-25  { margin-top: 25px !important; }
  &-top-40  { margin-top: 40px !important; }

  &-right-0   { margin-right: 0 !important; }
  &-right-2   { margin-right: 2px !important; }
  &-right-5   { margin-right: 5px !important; }
  &-right-10  { margin-right: 10px !important; }
  &-right-15  { margin-right: 15px !important; }
  &-right-20  { margin-right: 20px !important; }
  &-right-25  { margin-right: 25px !important; }
  &-right-40  { margin-right: 40px !important; }

  &-bottom-0   { margin-bottom: 0 !important; }
  &-bottom-5   { margin-bottom: 5px !important; }
  &-bottom-10  { margin-bottom: 10px !important; }
  &-bottom-15  { margin-bottom: 15px !important; }
  &-bottom-20  { margin-bottom: 20px !important; }
  &-bottom-25  { margin-bottom: 25px !important; }
  &-bottom-30  { margin-bottom: 30px !important; }
  &-bottom-40  { margin-bottom: 40px !important; }

  &-left-0   { margin-left: 0 !important; }
  &-left-5   { margin-left: 5px !important; }
  &-left-10  { margin-left: 10px !important; }
  &-left-15  { margin-left: 15px !important; }
  &-left-20  { margin-left: 20px !important; }
  &-left-25  { margin-left: 25px !important; }
  &-left-40  { margin-left: 40px !important; }

  &-auto     { margin: auto !important; }
}

.padding  {
  &-0   { padding: 0 !important; }
  &-5   { padding: 5px !important; }
  &-10  { padding: 10px !important; }
  &-15  { padding: 15px !important; }
  &-20  { padding: 20px !important; }
  &-25  { padding: 25px !important; }

  &-top-0   { padding-top: 0 !important; }
  &-top-5   { padding-top: 5px !important; }
  &-top-10  { padding-top: 10px !important; }
  &-top-15  { padding-top: 15px !important; }
  &-top-20  { padding-top: 20px !important; }
  &-top-25  { padding-top: 25px !important; }
  &-top-40  { padding-top: 40px !important; }

  &-right-0   { padding-right: 0 !important; }
  &-right-5   { padding-right: 5px !important; }
  &-right-10  { padding-right: 10px !important; }
  &-right-15  { padding-right: 15px !important; }
  &-right-20  { padding-right: 20px !important; }
  &-right-25  { padding-right: 25px !important; }

  &-bottom-0   { padding-bottom: 0 !important; }
  &-bottom-5   { padding-bottom: 5px !important; }
  &-bottom-10  { padding-bottom: 10px !important; }
  &-bottom-15  { padding-bottom: 15px !important; }
  &-bottom-20  { padding-bottom: 20px !important; }
  &-bottom-25  { padding-bottom: 25px !important; }

  &-left-0   { padding-left: 0 !important; }
  &-left-5   { padding-left: 5px !important; }
  &-left-10  { padding-left: 10px !important; }
  &-left-15  { padding-left: 15px !important; }
  &-left-20  { padding-left: 20px !important; }
  &-left-25  { padding-left: 25px !important; }

}