.mat-services-card{
  background-color: floralwhite;
  padding: 10px !important;

  &__description{
    width: 90%;
    margin: auto;
  }
}

.services-img-wrapper{

  img{
    height:300px;
    width:300px;
    border: 2px solid black;
  }
}