<mat-card class="mat-services-card">
    <h1 class="text__center">{{salonServicesInfo[activeIndex].title}}</h1>
</mat-card>

<section class="margin-top-15">
    <div fxLayout="row" fxLayoutAlign="center center" class="margin-bottom-40">
        <button #previousImg mat-button (click)="previous()">
            <i class="material-icons">keyboard_arrow_left</i>
        </button>

        <div class="services-img-wrapper">
            <img src="{{salonServicesInfo[activeIndex].image}}" alt={{activeIndex}}>
        </div>

        <button #nextImg mat-button (click)="next()">
            <i class="material-icons">keyboard_arrow_right</i>
        </button>


    </div>

    <div class="mat-services-card__description">
        <h3 class="text-wheat text__center">{{salonServicesInfo[activeIndex].description}}</h3>
    </div>

</section>
