.qd-overflow-menu {
  &__trigger.mat-icon-button  {
    position: absolute;
    right: 5px;
    top: 10px;

    .qd-icon  {
      color: $green-l;
      cursor: pointer;
    }
  }

  &__item {
    @extend %type-cta;
    color: $green-l;
    height: 48px;

    .qd-icon.mat-icon  {
      font-size: 22px;
      color: $green-l;
    }
  }
}
