<button mat-icon-button class="qd-overflow-menu__trigger" [matMenuTriggerFor]="overflowMenu">
  <mat-icon class="qd-icon icon-morevert"></mat-icon>
</button>

<mat-menu class="qd-overflow-menu" #overflowMenu="matMenu">
  <button mat-menu-item class="qd-overflow-menu__item" fxLayoutAlign="start center">
    <mat-icon class="qd-icon icon-add"></mat-icon>
    <span>Action</span>
  </button>
</mat-menu>
