@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-grey, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$custom-primary: mat-palette($mat-deep-purple, 600);
$custom-accent:  mat-palette($mat-lime, 100);
$custom-warn:    mat-palette($mat-red);

$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
@import 'styles/app';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-size: 14px;
}
/* You can add global styles to this file, and also import other style files */
