.mat-home-card{
  height: 50vh;
  opacity: 0.6;
  &__large{
    height: 65vh;
  }

    &__content{
        @include when-center-item();

        &--title{
          &-black{
            color: black;
            font-size: 52px;
            @include when-center-text(200px, 550px)
          }

          &-brown{
            color: brown;
            font-size: 52px;
            @include when-center-text(200px, 550px)
        }

          &-white{
            color: white;
            font-size: 52px;
            @include when-center-text(200px, 550px)
          }

          &-darkgoldenrod{
            color: darkgoldenrod;
            font-size: 52px;
            @include when-center-text(200px, 550px)
          }
            font-size: 52px;
            color: wheat;
            @include when-center-text(200px, 550px)
        }

    }

    &__img{
      background-image: url("assets/images/toronto.png");
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__home-img{
        width:50px;
        height: 50px;
    }
}

