<mat-card class="mat-card__floralwhite mat-home-card">

    <mat-card-content class="mat-home-card__content">
        <mat-card-title  class="mat-home-card__content--title-darkgoldenrod">The Makeover House</mat-card-title>

        <mat-divider></mat-divider>

    </mat-card-content>
</mat-card>

<mat-card class="mat-card__antiquewhite mat-home-card mat-card__no-shadow">

    <mat-card-content class="mat-home-card__content">
        <mat-card-title  class="mat-home-card__content--title-brown">Coming Soon</mat-card-title>

        <mat-divider></mat-divider>

    </mat-card-content>
</mat-card>

<mat-card class="mat-card__white mat-home-card mat-card__no-shadow">

    <mat-card-content class="mat-home-card__content">
        <mat-card-title  class="mat-home-card__content--title">To Your</mat-card-title>

        <mat-divider></mat-divider>

    </mat-card-content>
</mat-card>

<mat-card class="mat-card__wheat mat-home-card mat-card__no-shadow">

    <mat-card-content class="mat-home-card__content">
        <mat-card-title  class="mat-home-card__content--title-black">City</mat-card-title>

        <mat-divider></mat-divider>

    </mat-card-content>
</mat-card>

<mat-card class="mat-home-card__img mat-home-card__large mat-card__no-shadow">

    <mat-card-content class="mat-home-card__content">
        <mat-card-title  class="mat-home-card__content--title-white">TORONTO</mat-card-title>

        <mat-divider></mat-divider>

    </mat-card-content>
</mat-card>