.qd-account {
  position: relative;
  height: 45px;
  margin-top: 5px;

  .qd-account-menu.md-open .qd-button-alert {
    background: rgba($white, .2);
  }

  &__menu,
  &__menu.mat-menu-panel {
    min-width: 384px;
    background: $background-light-gray;

    &::before {
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-bottom: solid $background-light-gray 10px;
      top: -10px;
      content: " ";
      height: 0;
      right: 24px;
      margin-left: -10px;
      position: absolute;
      width: 0;
    }

    .mat-menu-content {
      padding: 0;
      color: $black;
    }

    &-details {
      font-size: 14px;

      &--name {
        font-size: 24px;
      }

      &--org  {
        opacity: .38;
      }
    }

    &-actions {
      border-top: 1px solid $divider-gray-1;
      background: $white;

      &--button {
        height: 50px;
        line-height: 50px;
        color: $green-l !important;
        border-right: 1px solid $divider-gray-1 !important;
        text-transform: uppercase;

        &:last-of-type  {
          border-right: 0 !important;
        }

        &:hover {
          background: $white;
        }

        .mat-button-focus-overlay {
          background-color: transparent;
        }

        .mat-icon {
          color: $green-l;
          font-size: 19px;
        }
      }
    }
  }
}
.toolbar-items{
  .mat-button{
    color: wheat;
  }
}