<mat-list fxLayout="row" class="toolbar-items">
    <mat-list-item>
        <button mat-button fxFlex="100" fxLayoutAlign="start center"
                class="qd-sidenav__list-item"
                [matTooltip]="showNarrow ? 'Home' : ''"
                matTooltipPosition="right"
                matTooltipShowDelay="0"
                matTooltipHideDelay="0"
                routerLink="/">
            <mat-icon class="qd-icon icon-home"></mat-icon>

            <span class="qd-sidenav__list-item-label">Home</span>
        </button>
    </mat-list-item>

    <mat-list-item *ngFor="let item of sidenavItems">
        <button mat-button fxFlex="100" fxLayoutAlign="start center"
                class="qd-sidenav__list-item"
                [matTooltip]="showNarrow ? item.label : ''"
                matTooltipPosition="right"
                matTooltipShowDelay="0"
                matTooltipHideDelay="0"
                routerLink="{{ item.route }}"
                [routerLinkActive]="['qd-sidenav__list-item--active']">
            <mat-icon class="qd-icon {{ item.icon }}"></mat-icon>

            <span class="qd-sidenav__list-item-label">{{item.label}}</span>
        </button>
    </mat-list-item>
</mat-list>