.qd-dialog-confirmation  {
  max-width: 300px !important;

  .mat-dialog-container {
    border-radius: 0 !important;
    padding: 0 !important;
  }

  &__content  {
    @extend %type-body-2;
    padding: 30px 20px;
    background-color: $background-light-gray;
  }

  &__actions  {
    border-top: 1px solid $divider-gray-1;

    &--button {
      @extend %type-cta;
      color: $green-l !important;
      background-color: $white;
      border-radius: 0 !important;
      padding: 0;
      margin: 0;
      height: 50px;
      width: 50%;

      &:first-child {
        border-right: 1px solid $divider-gray-1;
      }

      &:hover {
        background-color: $background-light-gray !important;
      }

      .mat-button-focus-overlay {
        background: transparent !important;
      }
    }
  }
}
