<div fxFlex="100" fxLayout="row wrap">
  <div class="qd-dialog-confirmation__content" fxFlex="100" layout="row">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center">
      {{ message }}
    </div>
  </div>

  <div class="qd-dialog-confirmation__actions" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <button type="button" class="qd-dialog-confirmation__actions--button" mat-button (click)="dialogRef.close(true)">
      Yes
    </button>

    <button type="button" class="qd-dialog-confirmation__actions--button" mat-button (click)="dialogRef.close(false)">
      No
    </button>
  </div>
</div>
